h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

nav ul{
    padding-left: .3em
}

nav li{
    padding: 10px;
    background-color: #F7CD46;
    display: inline;

}

nav li:hover{
    background-color: #f7ce468f;
}

nav a{
    text-decoration: none;
    color:#DE5935;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    border: 1px solid rgb(204, 204, 204);
    margin: 5px;
    padding: 10px;
}

.color-container{
    display: flex;
    padding: 20px;
}

.color-box{
    height: 150px;
    width:150px;
    margin-right: 20px;

}

.color-text{
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-transform: uppercase;
}

#aqua{
    background-color: #5AC3B0;
}

#orange{
    background-color: #DE5935;
}

#yellow{
    background-color: #F7CD46;
}

#protest_riot{
    font-family: "Protest Riot";
}

#protest_riot p{
    font-size: 20px;
    font-weight: 100;
    color: rgb(71, 71, 71);
}
